body {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 4px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(2px);
}

button.btn-clear{
box-shadow: 0 4px 0 #cc0000;
background: #ed4949;
}

button.btn-clear:active {
box-shadow: 0 2px 0 #cc0000;
transform: translateY(2px);
}

button.eval{
  box-shadow: 0 4px 0 #009900;
  background: #03cc00;
}

button.eval:active {
  box-shadow: 0 2px 0 #009900;
  transform: translateY(2px);
}
